.response-container {
  width: 800px; 
  padding: 10px;
  overflow: hidden; 
}

.error {
  color: rgba(255, 0, 0, 0.988);
}

.loading {
  text-align: center;
  font-weight: bold;
}

.section {
  margin-bottom: 20px; 
}

.h3{
  color: black;
}

.scroll-container {
  max-height: 150px; 
  border-radius: 10px;
  overflow-y: scroll; 
  border: 1px solid #ddd; 
  padding: 10px; 
  position: relative; 
}

/* Custom scrollbar styles */
.scroll-container::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #d4d1d1;
  border-radius: 4px; 
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #c3c3c3; 
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list li {
  margin: 5px 0;
}

.list a {
  text-decoration: none;
  color: #007bff; /* Link color */
}

.list a:hover {
  /* text-decoration: underline; */
  color:#045bb8;
  font-weight: bold;
}
